.hero {
	background-image: url('/images/poolBackground.png');
	object-fit: contain;
	object-position: center;
	background-repeat: no-repeat;
}
.homeTopSection {
	background-color: rgba(247, 247, 247, 1);
}

.poolButton {
	background: linear-gradient(180deg, #36a0f7 0%, #1364da 100%);
}

.cardBackground {
	background: linear-gradient(180deg, #4196b9 0%, #6cb9d4 100%);
}

.fontGrey {
	color: rgba(113, 113, 115, 1);
}

.poolMidSection {
	background: rgba(247, 247, 247, 1);
}
